* {
    font-family: Calibri;
    color: #303030;
    font-weight: 300;
}

.MuiSvgIcon-root {
    margin-top: -5px;
}

.MuiGrid-root {
    margin-bottom: 3px;
}

.MuiAlert-message {
    font-size: 22px;
}

.MuiTooltip-popper *, .MuiTooltip-popperArrow * {
    font-size: 16px !important;
    background-color: #303030 !important;
}