body {
    margin: 0px;
    background-color: #363636;
}

* {
    font-family: Calibri;
    color: #EFC69B;
    font-weight: 300;
}

.MuiSvgIcon-root {
    margin-top: -5px;
}

.MuiGrid-root {
    margin-bottom: 3px;
}

.MuiAlert-message {
    font-size: 22px;
}

.MuiAutocomplete-popper * {
    background-color: #EFC69B !important;
    color: #363636 !important;
}

.MuiAutocomplete-option[aria-selected="true"] {
    background-color: #5B534A !important;
    color: #EFC69B !important;
}

.MuiLinearProgress-bar {
    background-color: #5B534A !important;
}

.MuiAlert-filledError, .MuiAlert-filledError * {
    color: #EFC69B !important;
    background-color: #6A3937 !important;
}

.MuiAlert-filledSuccess, .MuiAlert-filledSuccess * {
    color: #EFC69B !important;
    background-color: #246B30 !important;
}