.container {
    width        : calc(100% - 8px); 
    height       : 100%;
    min-height   : 100px;
    border       : 8px dashed #EFC69B;
    border-radius: 20px;
    position     : relative;
    box-sizing: border-box;
}

.text {
    width      : 90%;
    margin     : auto;
    display    : block;
    height     : 100%;
    text-align : center;
    padding-top: 30px;
    color      : #EFC69B;
    font-size  : 30px;
    word-break: break-all;
}

.input {
    position: absolute;
    height  : 100%;
    width   : 100%;
    top     : 0;
    left    : 0;
    outline : none;
    opacity : 0;
    cursor: pointer;
    z-index: 10;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
}