.container {
    margin-top: 15px;
}

.formButton {
    background-color: #303030;
    border          : 0px;
    color           : white;
    padding         : 12px 30px;
    font-size       : 25px;
    border-radius   : 2px;
    width           : 96%;
    display: block;
    margin: auto;
    transition      : background-color 0.2s;
}

.formButton:hover {
    background-color: #404040;
    transition      : background-color 0.2s;
    cursor          : pointer;
}