.container {
    margin-top: 15px;
}

.fileInputContainer {
    height: 225px;
}

.formButton {
    background-color: #EFC69B;
    border          : 0px;
    color           : #363636;
    padding         : 12px 30px;
    font-size       : 25px;
    border-radius   : 2px;
    width           : calc(100% - 8px);
    display         : block;
    margin          : auto;
    transition      : background-color 0.2s;
}

.formButton:hover {
    background-color: #E8AF73;
    transition      : background-color 0.2s;
    cursor          : pointer;
}

.formButton:disabled {
    cursor        : not-allowed;
    pointer-events: all !important;
}

.playBackground {
    position: absolute;
    top     : 0;
    left    : 0;
}

.subtitlesBackground {
    position: absolute;
    bottom  : 0;
    left    : 0;
    width   : 100%;
}


@media (max-width: 599px) {
    .fileInputContainer {
        height : 350px !important;
        padding: 0px 30px
    }

    .videoDropzoneContainer {
        margin-bottom: 15px !important
    }

    .playBackground {
        height: 150px;
    }
}