.container img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 250px;
}

.container h3 {
  margin: auto;
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  font-family: Goudy Old Style
}

