.messageBox {
    padding  : 0px 50px;
    font-size: 20px;
}

.messageBoxInnerGrid {
    background-color: #eee;
    padding         : 1px 10px 3px 10px
}

.messageBoxInnerGrid h3 {
    text-align: center;
}

.messageBoxMobile {
    text-align: center;
    font-size: 18px;
    background-color: #eee;
    border-radius: 10px;
}