.container {
    padding-left: 20px;
    width: 70%
}

.paragraph {
    font-size: 18px;
}

.magician {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 70%;
}

@media (max-width: 599px) {
    .container {
        width: calc(100% - 20px);
        padding: 10px;
    }
}